.contentWrapper {
    display: flex;
    gap: 40px;
}



.aboutImage {
    width: 100%;
    height: auto;
    max-width: 662px;
    border-radius: 20px;
    object-fit: cover;
    
}

.benefitsList {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

