.contentWrapper {
    display: flex;
    gap: 80px;
}

.aboutImage {
    width: 100%;
    height: auto;
    max-width: 776px;
    border-radius: 20px;
    object-fit: cover;
    
}

.benefitsList {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.benefitsList li {
    display: flex;
    align-items: flex-start;
}

.benefitsList li::before {
    content: '•';
    margin-right: 0.5em;
    font-size: 1.2em;
    line-height: 1;
}

@media (max-width: 1199px) {
    .contentWrapper {
        gap: 40px;
    }
}

@media (max-width: 767px) {
    .contentWrapper {
        flex-wrap: wrap;
        gap: 20px;
    }
    .imageWrapper {
        width: 100%;
    }
    .benefitsList {
        width: 100%;
        gap: 15px;
    }
}

/* Медиазапрос для экранов с шириной меньше 480px (мобильные устройства) */
@media (max-width: 480px) {
    .container {
        padding: 0 10px;   
    }
}

