.contentWrapper {
    display: flex;
    gap: 80px;
}

.aboutTitle {
    margin-bottom: 90px;
}

.aboutImage {
    width: 100%;
    height: auto;
    max-width: 662px;
    border-radius: 20px;
    object-fit: cover;
    
}

.benefitsList {
    width: 60%;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

