@import './styles/reset.css';

@font-face {
    font-family: "Jura";
    src: url("/fonts/Jura/Jura-Bold.woff2") format("woff2"),
        url("/fonts/Jura/Jura-Bold.woff") format("woff"),
        url("/fonts/Jura/Jura-Bold.ttf") format("truetype"),
        url("/fonts/Jura/Jura-Bold.eot") format("embedded-opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
        url("/fonts/Roboto/Roboto-Regular.woff") format("woff"),
        url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
        url("/fonts/Roboto/Roboto-Regular.eot") format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
        url("/fonts/Roboto/Roboto-Medium.woff") format("woff"),
        url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype"),
        url("/fonts/Roboto/Roboto-Medium.eot") format("embedded-opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-SemiBold.woff2") format("woff2"),
        url("/fonts/Roboto/Roboto-SemiBold.woff") format("woff"),
        url("/fonts/Roboto/Roboto-SemiBold.ttf") format("truetype"),
        url("/fonts/Roboto/Roboto-SemiBold.eot") format("embedded-opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Шрифты */
    --font-heading: 'Jura', sans-serif;
    --font-base: 'Roboto', sans-serif;
    /* Веса шрифтов */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    /* Цвета */
    --color-background: #F0E6E5;
    --color-additional-bg: #FFF6F5;
    --color-text: #332D27;
    --color-btn: #7E7E7E;
    --color-btn-hover: #ECECEC;
    --color-black: #141414;
    --color-white: #FFFFFF;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-base);
    font-size: clamp(16px, 1.67vw, 32px);
    font-weight: var(--font-weight-regular);
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;      
    padding: 0 20px;      
    box-sizing: border-box;
}

section {
    margin-bottom: 170px;
}

button {
    font-family: var(--font-base);
    cursor: pointer;
    border: 1px solid var(--color-btn);
    background-color: var(--color-btn);
    color: var(--color-white);
    border-radius: 10px;
    transition: 0.2s;
}

button:hover {
    background-color: transparent;
    color: var(--color-btn);
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-bold);
    font-size: clamp(24px, 2.6vw, 50px);
}

h2, h3, h4, h5 {
    margin-bottom: 90px;
}

/* Медиазапрос для экранов с шириной больше 1200px */
@media (min-width: 1200px) {
    .container {
        max-width: 1400px; 
        padding: 0 30px;  
    }
}

/* Медиазапрос для экранов с шириной больше 1600px */
@media (min-width: 1600px) {
    .container {
        max-width: 1600px; 
        padding: 0 40px;   
    }
}

/* Медиазапрос для экранов с шириной меньше 768px (планшеты) */
@media (max-width: 767px) {
    .container {
        padding: 0 15px;   
    }
    section {
        margin-bottom: 90px;
    }
    h2, h3, h4, h5 {
        margin-bottom: 40px;
    }
}

/* Медиазапрос для экранов с шириной меньше 480px (мобильные устройства) */
@media (max-width: 480px) {
    .container {
        padding: 0 10px;   
    }
}
